#app {
	background-color: rgb(220, 250, 255);
}

.wave {
	border: 0px solid black;
	padding: 5px;
}

.canvas {
	background-color: #fff;
	width: 1110px;
	height: 500px;
}

.red {
	border-bottom: 3px solid red;
}
.green {
	border-bottom: 3px solid green;
}
.blue {
	border-bottom: 3px solid blue;
}